{% extends 'base.html' %}
{% block title %}Inicio - Taller Mecánico{% endblock %}
{% block content %}
<h1>Bienvenido al Sistema de Gestión del Taller</h1>
<p>Usa el menú para navegar entre clientes, empleados y servicios.</p>
{% endblock %}
<!-- este en inicio de la pagina hay que mejorar pero de momento esto estabien 16/09/2025 -->
 <!-- lo que tengo pensado es poner botones que lleven a clientes, empleados y servicios como la parte de "mis curosos de intepy" -->
    <!-- y poner una imagen de fondo que tenga que ver con mecanica automotriz -->
     <!-- talez un calendario con las fechas ocupadas etc. -->
